<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LostAndFound.Properties.Settings.Lost_Found_DatabaseConnectionString"
            connectionString="Data Source=LAPTOP-34HFC3NA\SQLEXPRESS;Initial Catalog=&quot;Lost&amp;Found Database&quot;;Integrated Security=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="LostAndFound.Properties.Settings.Lost_Found_Database_2ConnectionString"
            connectionString="Data Source=LAPTOP-34HFC3NA\SQLEXPRESS;Initial Catalog=&quot;Lost&amp;Found Database 2&quot;;Integrated Security=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>